.container {
  background-color: var(--card-background);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trade {
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
}

.amount {
  font-weight: 600;
}

.type {
  text-transform: capitalize;
}

@media (min-width: 480px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 50%;
  }
}
