:root {
  --primary: #153243;
  --background: #ffffff;
  --font: #000000;
  --font-asset: #202020;
  --backdrop: #0000005c;
  --accent: #0099cc;
  --input-background: #0000000a;
  --input-border: #0000003d;
  --card-background: #f3f3f3;
  --pnl-profit: #00bf13;
  --error: #f64242;
  --pnl-loss: var(--error);
  --disabled: #505050;
  --tooltip-background: #3fbebe;
  --tooltip-font: var(--background);
}

* {
  font-family: 'Open Sans', sans-serif;
  color: var(--font);
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: clamp(12px, 1vw + 0.5rem, 18px);
  min-width: 320px;
  background-color: var(--background);
}

dialog {
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 480px) {
  dialog {
    width: 324px;
  }
}

@media (min-width: 768px) {
  dialog {
    width: 450px;
  }
}

@media (min-width: 1280px) {
  dialog {
    width: 540px;
  }
}
