.details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.button {
  background-color: var(--primary);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  color: var(--background);
  border: none;
  width: 100%;
  cursor: pointer;
}

.modal {
  border: none;
  border-radius: 12px;
}

.modal::backdrop {
  background-color: var(--backdrop);
}

/*todo: fix this!*/

@media (min-width: 768px) {
  .navbar {
    padding: 32px;
  }

  .button {
    width: 320px !important;
  }
}
